<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show {{ onlyOdd ? "even" : "odd" }} numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <!-- We cannot use *ngFor and *ngIf in same element! -->
          <li
            class="list-group-item"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let odd of oddNumbers"
          >
            {{ odd }}
          </li>
        </div>
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: even % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div>
        <!-- The Previous code of *nfIf transforms into the below code. 
          The reason we need to place * before stuructural directives is that the code will get converted into the following code. -->
        <!-- <ng-template [ngIf]="!onlyOdd">
          <div>
            <li
              class="list-group-item"
              [ngClass]="{ odd: even % 2 !== 0 }"
              [ngStyle]="{
                backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'
              }"
              *ngFor="let even of evenNumbers"
            >
              {{ even }}
            </li>
          </div>
        </ng-template> -->
      </ul>
      <p appBasicHighlight>Style me with basic directive!</p>
      <p [appBetterHighlight]="'red'" defaultColor="yellow">
        Style me with better directive!
      </p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
      <div [ngSwitch]="true">
        <p *ngSwitchCase="value % 2 === 0">{{ value }} is divisible by 2</p>
        <p *ngSwitchCase="value % 3 === 0">{{ value }} is divisible by 3</p>
        <p *ngSwitchCase="value % 6 === 0">{{ value }} is divisible by 6</p>
        <p *ngSwitchDefault>Value is not divisible</p>
      </div>
      <!-- <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'"> -->
      <!-- <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template> -->
    </div>
  </div>
</div>
